body {
    font-family: "Google Sans";
    font-size: 20px;
    background-image: radial-gradient(lightgreen, lightblue)
}

div {
    text-align: left;
    border: 3px black solid;
}

#main-title {
    text-align: center;
}

#tb1 {
    font-family: "Google Sans";
    font-size: 20px;
    width: 550px;
}